// Hero Section
.hero {
    margin-bottom: 9.5rem;

    .hero-container {
        position: relative;

        .hero__title {
            @include text(16.8rem, 700, 16.8rem, $main-color);
            letter-spacing: -4px;
            margin-bottom: 4.8rem;
            text-align: center;
            font-family: 'Acorn';
        }

        .hero__desc {
            @include text(2.2rem, 400, 3.5rem, $text-color);
            letter-spacing: -0.3px;
            text-align: center;
        }

        img {
            position: absolute;
            pointer-events: none;
            user-select: none;
        }
        .hero__image--right {
            transform: translate(105rem, -5rem);
        }
        .hero__image--left {
            transform: translate(-1rem, -8rem);
        }
    }
}