.summary {
    margin-bottom: 9.8rem;

    .summary-container {
        display: flex;
        align-items: center;
        gap: 0 12.8rem;

        .summary__thumb {
            flex: 1;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20rem 20rem 0 0;
            }
        }

        .summary__info {
            flex: 2;

            .summary__intro {
                @include text(6.3rem, 700, 7rem, $main-color);
                font-family: 'Acorn';
                margin-bottom: 3.2rem;
            }
            .summary__desc {
                @include text(2.2rem, 400, 3.5rem, $text-color);
                letter-spacing: -0.3px;
                font-family: 'Acorn';
            }
        }
    }
}